<a href="https://colab.research.google.com/github/simran-sharma29/MSC-IT-PART1-SEM1/blob/main/FDS/std.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Variability**
 describes how far apart data points lie from each other and from the center of a distribution.

##**Standard deviation**
The square root of the variance.

In [24]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [25]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [26]:
state=pd.read_csv("/content/drive/MyDrive/Dataset/state.csv")
state.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [27]:
np.std(state['Murder.Rate'])

1.8964820062420842

In [ ]:
statistics.stdev(state['Murder.Rate'])

1.9157361243029227

##**Variance**
The sum of squared deviations from the mean divided by n – 1 where n is the number of data
values.

In [ ]:
np.var(state['Population'])

45960360825926.56

In [ ]:
statistics.variance(state['Population'])

46898327373394.45

##**Min and max variables**

In [ ]:
print(np.min(state['Murder.Rate']))
print(np.max(state['Murder.Rate']))

0.9
10.3

###**Skewness and Kurtosis**

The skewness for a normal distribution is zero, and any symmetric data should have a skewness near zero. Negative values for the skewness indicate data that are skewed left and positive values for the skewness indicate data that are skewed right. By skewed left, we mean that the left tail is long relative to the right tail. Similarly, skewed right means that the right tail is long relative to the left tail. If the data are multi-modal, then this may affect the sign of the skewness.

In [ ]:
df=pd.DataFrame(state)
print(df.skew())
print(df.kurtosis())

Population     2.642635
Murder.Rate    0.780611
dtype: float64
Population     8.722115
Murder.Rate    1.023413
dtype: float64

In [ ]:
print(scipy.stats.skew(state['Population']))
print(scipy.stats.kurtosis(state['Population']))

2.5626855429174094
7.756338866239435

###**Range**

The difference between the largest and the smallest value in a data set.

In [ ]:
diff=np.max(state['Murder.Rate'])-np.min(state['Murder.Rate'])
print(diff)

9.4

###**Percentiles and Quartile**
Percentiles is  any of the ninety-nine points that divide an ordered distribution into one hundred parts, each containing one per cent of the population.
Quartile is any of the three points that divide an ordered distribution into four parts, each containing a quarter of the population.

In [32]:
np.percentile(state['Population'],[25,50,75,95])

array([ 1833004.25,  4436369.5 ,  6680312.25, 19118545.6 ])

In [35]:
z=pd.Series(state['Population'])
z.quantile([0.25,0.50,0.75])

0.25    1833004.25
0.50    4436369.50
0.75    6680312.25
Name: Population, dtype: float64

The **interquartile range**, often denoted “IQR”, is a way to measure the spread of the middle 50% of a dataset. It is calculated as the difference between the first quartile* (the 25th percentile) and the third quartile (the 75th percentile) of a dataset.

In [37]:
q3, q1 = np.percentile(z, [75 ,25])
iqr = q3 - q1
iqr

4847308.0

In [38]:
scipy.stats.iqr(z)

4847308.0

###**EXAMPLES**

In [39]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [40]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [43]:
tit=pd.read_csv("/content/drive/MyDrive/Dataset/Titanic.csv")
tit.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [44]:
np.std(tit['Fare'])

49.66553444477411

In [45]:
statistics.variance(tit['Fare'])

2469.4368457431165

In [48]:
print(np.min(tit['Age']))
print(np.max(tit['Age']))

0.42
80.0

In [49]:
df=pd.DataFrame(tit)
print(df.skew())
print(df.kurtosis())

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.389108
SibSp          3.695352
Parch          2.749117
Fare           4.787317
dtype: float64
PassengerId    -1.200000
Survived       -1.775005
Pclass         -1.280015
Age             0.178274
SibSp          17.880420
Parch           9.778125
Fare           33.398141
dtype: float64

In [50]:
diff=np.max(tit['Age'])-np.min(tit['Age'])
print(diff)

79.58

In [52]:
np.percentile(tit['Fare'],[25,50,75,95])

array([  7.9104 ,  14.4542 ,  31.     , 112.07915])

In [54]:
z1=pd.Series(tit['Fare'])
z1.quantile([0.25,0.50,0.75])

0.25     7.9104
0.50    14.4542
0.75    31.0000
Name: Fare, dtype: float64

In [55]:
scipy.stats.iqr(z1)

23.0896