<a href="https://colab.research.google.com/github/simran-sharma29/MSC-IT-PART1-SEM1/blob/main/FDS/despstatistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Measures of Central Tendency**
An essential statistical concept is the “measure of central tendency“. This measure is an important way to summarize the dataset with one representative value. This measure provides a rough picture of where data points are centered. The commonly used measures of central tendency are:

**Mean**
**Median**
**Mode**

In [27]:
import math
import statistics 
import numpy as np
import scipy.stats
import pandas as pd

###**Mean**
“Average” value is termed as the mean of the dataset. It is very easy to calculate the mean. 

Steps to calculate Mean:

Step 1. Count the number of data values. Let it be n.
Step 2. Add all the data values. Let the sum be s.
Step 3. Mean = Sum of all data values (s)/Total number of data values(n)

In [2]:
x=[8.0,1,2.5,4,28.0]
m=sum(x)/len(x)
print(m)

8.7

**If nan is present in data**

In [3]:
xwith_nan=[8.0,1,2.5,4,28.0,math.nan]
print(xwith_nan)
m=statistics.mean(xwith_nan)
print(m)

[8.0, 1, 2.5, 4, 28.0, nan]
nan

In [4]:
np.mean(xwith_nan)

nan

###**Median**
The middle value of the sorted dataset is called the median.  Consider a dataset comprising ‘n’ elements.



Steps  to calculate median:

Step 1. The dataset is arranged in either increasing or decreasing order.
Step 2. If the data set has an odd number of data values (n=odd), then the middlemost value of the sorted dataset is computed as the median. In other words, the data at (n + 1)/2 place is the median of the dataset.
Step 3. If the dataset has an even number of data values (n = even), the average of two middle values is computed as the median. i.e. mean of (n/2) and {(n/2) + 1}th is the median of the dataset.

###**Mode**
The most frequently occurring value in the dataset is called mode. 

Steps to calculate mode:

Step 1. Use tally marks to identify how many times each data value occurs in the dataset.
Step 2. The data value with maximum tally is the mode of the dataset.

###**example 1:**

In [7]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [9]:
state=pd.read_csv("/content/drive/MyDrive/Dataset/state.csv")
state.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [10]:
np.mean(state['Population'])

6162876.3

In [16]:
statistics.mean(state['Population'])

6162876.3

**weighted mean**

In [20]:
pip install weightedstats

Collecting weightedstats
  Downloading https://files.pythonhosted.org/packages/8d/73/24ecd3d2230edb304d8c2febe61711ae75c11fc792acc8fd3b056b4eb6cc/weightedstats-0.4.1-py3-none-any.whl
Installing collected packages: weightedstats
Successfully installed weightedstats-0.4.1

In [30]:
import weightedstats as ws
weighted_mean=ws.weighted_mean(state['Population'],state['Murder.Rate'])
print(weighted_mean)

6738594.411214952

In [23]:
import weightedstats as ws

**trimmed mean**

In [28]:
trimmed_mmean=scipy.stats.trim_mean(state['Population'],0.1)
print(trimmed_mmean)

4783697.125

**median**

In [29]:
med=np.median(state['Population'])
print(med)
print(statistics.median(state['Population']))

4436369.5
4436369.5

**weighted median**

In [31]:
weights=ws.weighted_median(state['Population'],state['Murder.Rate'])
print(weights)

4625364

**mode**

In [38]:
x=[4,4,5,6,2,10,8,25,60,56,60,4]
statistics.mode(x)

4

###**Example 2**

In [40]:
tit=pd.read_csv("/content/drive/MyDrive/Dataset/Titanic.csv")
tit.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [44]:
print(statistics.mean(tit['Fare']))

32.204207968574636

In [45]:
print(np.mean(tit['Fare']))

32.2042079685746

In [46]:
ws.weighted_mean(tit['Fare'])

32.2042079685746

In [48]:
scipy.stats.trim_mean(tit['Fare'],0.2)

17.45484953271028

In [50]:
print(statistics.median(tit['Fare']))
print(np.median(tit['Fare']))

14.4542
14.4542

In [55]:
statistics.mode(tit['Age'])

24.0